body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #000000;
}

.app {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0.7;
}

.ready-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000;
  color: #fff;
  width: 100%;
  height: 100%;
  text-align: center;
}

.ready-screen p {
  font-size: 24px;
  margin-bottom: 20px;
}

.ready-screen button {
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  background-color: #f44336;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.initial-modal-content {
  color: #fff;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace; /* Estilo de fonte de máquina de escrever */
  line-height: 1;
}

.initial-buttons {
  margin-top: 20px;
}

.initial-buttons button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #f44336;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
}

.container {
  text-align: center;
  background: rgba(24, 21, 21, 0.8);
  padding: 20px;
  border-radius: 10px;
  border: dashed 1px #f44336;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  position: relative;
}

h1 {
  margin-bottom: 20px;
  color: #fff;
}

.buttons {
  display: flex;
  justify-content: space-around;
  position: relative;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: solid white 1px;
  border-radius: 5px;
  cursor: pointer;
  animation: pulse-animation 1s infinite alternate;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

#accept {
  background-color: #4CAF50;
  color: white;
}

#reject {
  background-color: #f44336;
  color: white;
  position: relative;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(26, 25, 25, 0.89);
  padding: 40px;
  border: 2px solid #f44336;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.756);
  text-align: center;
  width: 90%;
  animation: blink-animation 1s steps(5, start) infinite;
  z-index: 10;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.popup img {
  width: 200px;
  height: auto;
}

.popup p {
  font-size: 20px;
  color: aliceblue;
  margin-top: 20px;
}

@keyframes pulse-animation {
  to {
    transform: scale(1.1);
  }
}

.initial-modal, .second-modal, .no-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(18, 17, 17, 0.742);
  padding: 20px;
  color: aliceblue;
  border-radius: 10px;
  border: solid 1px #f44336;
  box-shadow: 0 6px 8px rgba(204, 173, 193, 0.514);
  z-index: 10;
}

.initial-modal-content, .second-modal-content, .no-modal-content {
  text-align: center;
}

.initial-buttons button, .second-modal-content button, .no-modal-content button {
  padding: 10px 20px;
  font-size: 16px;
  border: solid 1px #ccc;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
}

.radio-group {
  margin: 10px 0;
}

.radio-group label {
  margin-right: 10px;
}
